<% provide(:title, 'About Us') %>

<h1>About Us</h1>
<p>
  Hi! I'm Anh, and this is my first time web-developing with Ruby on Rails! This site will mostly be the sharing of original music and perhaps some possible online manga! 

Currently majoring in computer science, and I love music, writing, drawing, and Elsword!

I currently use MuseScore to arrange and compose music. Unfortunately, I cannot upload large files to this site, hence the inferior .midi files :( I wanted to put the .wav files in, since the acoustics and timbre of the music/instruments sound much better, but that's fine with me.
</p>
