<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  I do have the score and original soundtrack of all the music I've uploaded, so if you would like to see the pdf or wav version of the music, please contact me at my throwaway email: nyancat1444@gmail.com. Of course, I'll be unlikely to respond since that's my spam email, but once I get more serious with this site, I'll be more professional.
</p>

