<% provide(:title, 'Help') %>
<head>
  <title>Ongaku | <%= yield(:title) %></title>
</head>

<h1>Help</h1>
<p>
  Nothing here for the moment.
  <a href="http://ongaku-   otaku.herokuapp.com/static_pages/help">Ongaku</a>
</p>
