<% provide(:title, "Miscellaneous") %>

<h1>Miscellaneous Music</h1>

<p style="color:blue;margin-left:20px;">
Some miscellaneous music that includes arrangements (only the ones that I have on MuseScore. I have some on FinaleNotepad but I'm too lazy to fetch them. MuseScore > FinaleNotepad) and some music I've made while I was bored. 
</p>


<ul class="nav nav-pills">
  <li class="active">
    <a >School Afternoon</a>
  </li>
  <li><a href="/music/mis/afternoon.mid">.mid</a></li>
</ul>

<p style="color:blue;margin-left:120px;margin-right:120px">
Rejected version of School Afternoon for the visual novel Sketch Angel.
</p>

<ul class="nav nav-pills">
  <li class="active">
    <a >Compass Hearts</a>
  </li>
  <li><a href="/music/mis/compass.mid">.mid</a></li>
</ul>

<p style="color:blue;margin-left:120px;margin-right:120px">
OP of Compass Hearts, a tactical game based on Flash and collaborated/ongoing project.
</p>

<ul class="nav nav-pills">
  <li class="active">
    <a > Elements</a>
  </li>
  <li><a href="/music/mis/elements.mid">.mid</a></li>
</ul>

<p style="color:blue;margin-left:120px;margin-right:120px">
Arranged the OP of Elements, a CCG game. Did not composed this.
</p>

<ul class="nav nav-pills">
  <li class="active">
    <a >Extris</a>
  </li>
  <li><a href="/music/mis/extris.mid">.mid</a></li>
</ul>

<p style="color:blue;margin-left:120px;margin-right:120px">
The OP of Extris, an original manga that my younger sister is doing. Originally used UTAU for the voice, but I'm too lazy to upload the version :(
</p>

<ul class="nav nav-pills">
  <li class="active">
    <a >Super Mario</a>
  </li>
  <li><a href="/music/mis/mario.mid">.mid</a></li>
</ul>

<p style="color:blue;margin-left:120px;margin-right:120px">
Simple arrangement of the ending theme of the SNES game: Super Mario RPG Legend of the Seven Stars. Perhaps you've heard of that game? :>
</p>

<ul class="nav nav-pills">
  <li class="active">
    <a >Rolling Falls</a>
  </li>
  <li><a href="/music/mis/rolling.mid">.mid</a></li>
</ul>

<p style="color:blue;margin-left:120px;margin-right:120px">
Arranged the background music of the game Rolling Falls as requested. I think the game was about killing zombies...
</p>

<ul class="nav nav-pills">
  <li class="active">
    <a >Spring</a>
  </li>
  <li><a href="/music/mis/spring.mid">.mid</a></li>
</ul>

<p style="color:blue;margin-left:120px;margin-right:120px">
I got bored and composed this piece based on the notion of springtime. One of my least favorites music I've composed (and I do dislike many of them).
</p>
