<% provide(:title, "Moonlight's Path") %>

<h1>OST for Moonlight's Path</h1>

<p style="color:blue;margin-left:20px;">
Moonlight's Path is an original and on-going manga that I've started in my first year of high school. The music below sounds a lot better in .wav, since some instruments are overpowering one another nonsensically in .midi. 
</p>

<ul class="nav nav-pills">
  <li class="active">
    <a href="/moonlights_path">Silver Solace</a>
  </li>
  <li><a href="/music/moonlight/silver_solace.mid">.mid</a></li>
</ul>

<ul class="nav nav-pills">
  <li class="active">
    <a href="/moonlights_path">Lush of Magic</a>
  </li>
  <li><a href="/music/moonlight/LushofMagic.mid">.mid</a></li>
</ul>

<ul class="nav nav-pills">
  <li class="active">
    <a href="/moonlights_path">Mask of Lies</a>
  </li>
  <li><a href="/music/moonlight/mask.mid">.mid</a></li>
</ul>

<ul class="nav nav-pills">
  <li class="active">
    <a href="/moonlights_path">Moment in the Hourglass</a>
  </li>
  <li><a href="/music/moonlight/moment.mid">.mid</a></li>
</ul>

<ul class="nav nav-pills">
  <li class="active">
    <a href="/moonlights_path">Still Not the Same</a>
  </li>
  <li><a href="/music/moonlight/not_the_same.mid">.mid</a></li>
</ul>

<ul class="nav nav-pills">
  <li class="active">
    <a href="/moonlights_path">Walk with Me</a>
  </li>
  <li><a href="/music/moonlight/walk.mid">.mid</a></li>
</ul>

<ul class="nav nav-pills">
  <li class="active">
    <a href="/moonlights_path">Final Battle</a>
  </li>
  <li><a href="/music/moonlight/final_battle.mid">.mid</a></li>
</ul>