<% provide(:title, "Sketch Angel") %>

<h1>OST for Sketch Angel</h1>

<p style="color:blue;margin-left:20px;">
Sketch Angel is a collaborated and ongoing project designed to be a visual novel game. This uses the game engine Ren'py, which uses Python.
</p>

<ul class="nav nav-pills">
  <li class="active">
    <a >OP</a>
  </li>
  <li><a href="/music/sketch/sketch_angel.mid">.mid</a></li>
</ul>

<ul class="nav nav-pills">
  <li class="active">
    <a >Art Museum</a>
  </li>
  <li><a href="/music/sketch/art_museum.mid">.mid</a></li>
</ul>

<ul class="nav nav-pills">
  <li class="active">
    <a >School V2</a>
  </li>
  <li><a href="/music/sketch/school.mid">.mid</a></li>
</ul>