<% provide(:title, "Twilight Witch") %>

<h1>OST for Twilight Witch</h1>

<p style="color:blue;margin-left:20px;">
Twilight Witch is an original manga that I haven't started yet that first came about with an inspiration from the game Luminous Arc (never played the game, actually). The song below is more upbeat and faster than the original, and I like it that way, too.
</p>

<ul class="nav nav-pills">
  <li class="active">
    <a >OP</a>
  </li>
  <li><a href="/music/twilight/witch.mid">.mid</a></li>
</ul>

